/** {*/
    /*font-family: Arial, "Free Sans";*/
/*}*/
#container {
    margin-top: 20px;
    color: #fff;
    text-align: left;
}
#container #question {
    display: block;
    font-weight: bold;
    /*letter-spacing: -3px;*/
    /*margin-bottom: 20px;*/
    padding: 10px;
    font-size: 20px;
    /*font-size: 40px;*/
}
#container .route {
    font-weight: bold;
    letter-spacing: 0px;
    /*letter-spacing: -3px;*/
    background: #0099cc;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 12px;
    /*font-size: 17px;*/
    /*font-size: 34px;*/
    color: #ffffff;
    border-left: 20px solid #333;
    width: 200px;
    /*width: 400px;*/
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 1.5em 1.5em 0;
}
#container  .route a {
    border-radius: 0.3em;
    text-decoration: none;
    color: #0099cc;
    padding: 5px 4px;
    /*padding: 5px 15px;*/
    background: #333;
    margin: 0 6px;
    /*margin: 0 20px;*/
}
#container  .route a:hover {
    color: #fff;
}
/*

#intro>.logo>#container>div>span{
    position: relative;
}*/
